* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-color: white;
    border: 15px solid gray;
    border-radius: 50%;
}

.border::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 140px;
    border: 15px solid red;
    border-radius: 50%;
}

.conteiner {
    position: relative;
    width: 100%;
    height: 250vh;
    background-color: white;
}

.circle {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}


.one {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: purple;
}

.two {
    position: absolute;
    top: 100vh;
    left: 50vw;
    transform: translateX(-50%);
    background-color: rgb(0, 132, 184);
}

.three {
    position: absolute;
    bottom: 50vh;
    left: 50vw;
    transform: translate(-50%,50%);
    background-color: rgb(235, 67, 117);
}

.label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}