* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 25%); 
    grid-template-rows: repeat(3, 33.33%);
    gap: 0;
    width: 100vw;
    height: 100vh;
    border: 1px solid rgb(94, 90, 90);
}

.grid-container > div {
    border: 1px solid rgb(94, 90, 90);
}

.item-1 {
    background-color: red;
}
.item-2 {
    background-color: green;
}
.item-3 {
    background-color: orangered;
}
.item-4 {
    background-color: purple;
}
.item-5 {
    background-color: deeppink;
}
.item-6 {
    background-color: blue;
}
.item-7 {
    background-color: brown;
}
.item-8 {
    background-color: violet;
}
.item-9 {
    background-color: indigo;
}
.item-10 {
    background-color: gold;
}
.item-11 {
    background-color: cadetblue;
}
.item-12 {
    background-color: cyan;
}