* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 25%); 
    grid-template-rows: repeat(3, 33.33%);
    gap: 0;
    width: 100vw;
    height: 100vh;
    border: 1px solid rgb(94, 90, 90);
}


.item-1 {
    background-color: red;
    border: 1px solid rgb(94, 90, 90);
    border-right: none;
}
.item-2 {
    background-color: red;
        border: 1px solid rgb(94, 90, 90);
    border-left: none;
}
.item-3 {
    background-color: green;
    border: 1px solid rgb(94, 90, 90);
}
.item-4 {
    background-color: orangered;
    border: 1px solid rgb(94, 90, 90);
    border-bottom: none;
}
.item-5 {
    background-color: purple;
    border: 1px solid rgb(94, 90, 90);
}
.item-6 {
    background-color: deeppink;
    border: 1px solid rgb(94, 90, 90);
}
.item-7 {
    background-color: blue;
    border: 1px solid rgb(94, 90, 90);
}
.item-8 {
    background-color: orangered;
    border: 1px solid rgb(94, 90, 90);
    border-bottom: none;
    border-top: none;
}
.item-9 {
    background-color: brown;
    border: 1px solid rgb(94, 90, 90);
}
.item-10 {
    background-color: indigo;
    border: 1px solid rgb(94, 90, 90);
    border-right: none;
}
.item-11 {
    background-color: indigo;
    border: 1px solid rgb(94, 90, 90);
    border-left: none;
}
.item-12 {
    background-color: orangered;
    border: 1px solid rgb(94, 90, 90);
    border-top: none;
}