* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
}

.card {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
}

.header {
    position: sticky;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 60px;
    text-align: left;
    padding: 15px;
}

.header p {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.one {
    background-color: #ff2b06;
}

.two {
    background-color: #025fac;
}

.three {
    background-color: #0a7a0a;
}

.four {
    background-color: #a36b02;
}

.content1 {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;

}

.content2 {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;

}

.content3 {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;

}

.content4 {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;

}

.text {
    position: absolute;
    top: calc(50% - 60px);
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 100px;
}