* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.header {
    position: relative;
    height: 60px;
    border-bottom: 2px solid #ccc;
    position: relative;
    background-color: white;
    z-index: 10;
}

.logo {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    height: auto;
    z-index: 100;
}

.top-nav {
    position: absolute;
    right: 40px;
    top: 20px;
}

.top-nav ul li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}

.top-nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.main-content {
    position: relative;
    gap: 10px;
    width: 100%;
    min-height: 500px;
}

.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0; /* To make room for footer */
    width: 20%;
    background-color: #4b0082;
    padding-top: 40px;
}

.sidebar ul li {
    list-style: none;
    padding: 10px 20px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.content {
    margin-left: 20%;  
    width: 80%;     
    padding: 20px;
}

.card-container {

    display: flex;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    gap: 0px;
}

.card-container img {
    width: 33.33%;
    height: auto;
    border-right: 1px solid #ccc;
}

.card-container img:last-child {
    border-right: none;
}

.text-content p {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #333;
}

footer {
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #666;
    color: white;
    text-align: center;
    line-height: 50px;
    z-index: 200;
}